.sheet {
  min-height: 800px;
  width: 600px;
  background: repeating-linear-gradient(
    white,
    white 48px,
    #9198e5 49px,
    #9198e5 50px
  );
  box-shadow: 20px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.text {
  position: relative;
  top: 3px;
  font-size: 36px;
  margin: 0 20px;
  font-family: "Reenie Beanie";
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.5s linear;
}
.single_task {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.check-icon {
  color: green;
  margin-right: 10px;
}
.check-icon,
.delete-icon {
  z-index: 1;
  transition: all 0.3s ease-in-out;
  font-size: 0.7em;
}
.delete-icon {
  color: red;
}
.check-icon:hover,
.delete-icon:hover {
  font-size: 1em;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .sheet {
    width: 100%;
  }
}
