.new_task,
.task-date {
  padding: 10px;
  border: 2px solid rgb(226, 104, 124);
  width: 100%;
  border-radius: 5px;
}
.task-date {
  width: 30%;
}

.add_button {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 5px;
}
.addtask_container {
  margin-bottom: 10px;
}

.error {
  position: fixed;
  top: 50%;
  left: 40%;
  background-color: #fdf2f5;
  height: 100px;
  width: 300px;
}
